<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harry Potter Stats</title>
  </head>
  <body>
    <h1>Directory of Wizards</h1>

    //name
    <form class="addcharacter" action="/{{name}}" method="post">
    </form>
    <p>
    <button type="submit" name="button">Add To Directory</button>
    {{name}}</p>

    //house
    <form class="addcharacter" action="/{{house}}" method="post">
    </form>
    <p>
    <button type="submit" name="button">Add To Directory</button>
    {{house}}</p>

    ////animagus
    <form class="addcharacter" action="/{{aimagus}}" method="post">
    </form>
    <p>
    <button type="submit" name="button">Add To Directory</button>
    {{animagus}}</p>

    //organizations

  </body>
</html>
