<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harry Potter Stats</title>
  </head>
  <body>
    <form class="" action="index.html" method="post">

    </form>
  </body>
</html>
