<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harry Potter Stats</title>
  </head>
  <body>
    <h1>Directory of Wizards</h1>


    <!-- //name -->
<form class="characterinfo" action="/" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="house" placeholder="house">
  <input type="submit" name="button" placeholder="add">
</form>

<ul>
  {{#characters}}
  <li>
    <form class="delete" action="/{{_id}}" method="post">
      <button type="submit" name="button">delete</button>
    </form> {{name}} - {{house}}
  </li>
  {{/characters}}
</ul>

  </body>
</html>
